html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 2px) / 3));
  grid-template-rows: repeat(3, calc((100% - 2px) / 3));
  grid-gap: 1px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.container div {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
