html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 250px;
  height: auto;
}
.container input {
  width: 100%;
  box-sizing: border-box;
}
.container .history {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  background-color: green;
}
.container .history .key {
  width: auto;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  margin: 5px 5px 0 0;
  font-size: 12px;
  margin-right: 5px;
  border-radius: 20px;
  background-color: pink;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
