html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 250px;
  height: 100px;

  input {
    width: 100%;
  }

  .history {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: pink;

    .key {
      font-size: 12px;
      padding: 3px 5px;
      margin-right: 5px;
      border-radius: 20px;
      background-color: #fff;

      // 单个词条最大占满一行，超出省略号展示
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
